<div class="tm-timeline">
    {%- assign peoples = site.data.timeline-people | sort: "birth" -%}
    {% for people in peoples %}
    <div class="tm-timeline-entry">
        <div class="tm-timeline-time">
            <h6>{% if people.birth != 3000 %}{{ people.birth }}{% if people.death %} - {{ people.death }}{% endif %}{% endif %}</h6>
        </div>
        <div class="tm-timeline-body">
            <h6>
                <a href="{{ people.link }}" target="_blank" data-bs-trigger="hover" data-bs-toggle="popover" data-bs-title="{{ people.title }}" data-bs-content="{{ people.description | strip_html | escape }}">{{ people.title }}</a>
                {% if people.label %}
                    <span class="timeline-tags">
                        {% for tag in people.label %}<span class="timeline-tag">{{ tag }}</span>{% endfor %}
                    </span>
                {% endif %}
            </h6>
            {% if people.list.size > 0 %}
            <ul>
                {% for item in people.list %}
                <li>{{ item }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
