<div class="tm-timeline">
    {% for version in site.data.timeline-api %}
    <div class="tm-timeline-entry">
        <div class="tm-timeline-time">
            <h5>{{ version.date }}</h5>
        </div>
        <div class="tm-timeline-body">
            <h3>{{ version.title }}{% if version.label %}<span class="timeline-label">{{ version.label }}</span>{% endif %}</h3>
            {% if version.list.size > 0 %}
            <ul>
                {% for item in version.list %}
                <li>{{ item }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
