---
layout: default
section: About API Evangelist
title: About API Evangelist
summary: More information about API Evangelist the business.
nav: About
sub: About API Evangelist
---

<div class="row gx-xl-9">

    <div class="col-12 col-xxl-4 order-xxl-1">

        <div class="position-sticky mb-8" style="top: 2rem">

            {% include services-api-evangelist.html %}
            <br>
            {% include services-partner.html %}

        </div>
    </div>  

  <div class="col-12 col-xxl-8 order-xxl-0">

    <section>
      <div class="row">
        <div class="col">
  
            <h1 class="fs-3 mb-5" id="rule-name-header">{{ page.title }}</h1>
            <p>API Evangelist is the working toolbox of Kin Lane, designed to explore and make sense of the technology, business, policies, and people involved in creating and consuming HTTP APIs. The site serves as an evolving repository of information that covers nearly every aspect of API operations. The goal of the site is to help enterprises, startups, analysts, consultants, and other stakeholders assess, manage, and govern the increasingly expansive API landscape that powers various business sectors.</p>
            <center><img src="/assets/img/api-evangelist-many-photos.png" width="80%" style="padding: 10px;"></center>
            <p>This stie is built on 15 years of experience working with APIs, compiles insights, artifacts, and videos to document and analyze the intersection of technology, business, policies, and people shaping the API ecosystem. API Evangelist works to provide practical, hands-on knowledge that can be applied directly to operations. API Evangelist delivers content in machine-readable formats, complemented by meaningful narratives that address the needs of both engineering and product teams-—while minimizing vendor lock-in to help organizations build their own platforms and capabilities.</p>
  
            <ul>
              <li><a href="/about/kin-lane">About Kin Lane</a></li>
              <li><a href="/about/surveying-assessment">About API Surveying and Assessment</a></li>
              <li><a href="/about/this-site">About This Site</a></li>
            </ul>
            
        </div>
      </div>
    </section>

  </div>
</div>



