---
layout: default
section: About API Evangelist
title: About Kin Lane
summary: More information about API Evangelist the person.
nav: About
sub: About Kin Lane
---

<div class="row gx-xl-9">

    <div class="col-12 col-xxl-4 order-xxl-1">

        <div class="position-sticky mb-8" style="top: 2rem">

            {% include services-api-evangelist.html %}
            <br>
            {% include services-partner.html %}

        </div>
    </div>  

  <div class="col-12 col-xxl-8 order-xxl-0">

    <section>
      <div class="row">
        <div class="col">
  
          <h1 class="fs-3 mb-5" id="rule-name-header">{{ page.title }}</h1>
          <p>Kin Lane is the founder and operator of API Evangelist. Kin has been in the technology industry for 35 years with the last 15 years dedicated to HTTP APIs. During the fifteen years operating API Evangelist Kin has been a Presidential Innovation Fellow for the Obama administration, worked with the European Commission on API standards, was Chief Evangelist for Postman, and more recently stood up an API governance program for Bloomberg. Via API Evangelist, Kin is distilling down 15 years of API experience into informative and actionable knowledge bases and services that can help enterprise organizations make sense of the API sprawl that has accumulated throughout this century.</p>
          <center><img src="/assets/img/kin-lane-many-photos.png" width="80%" style="padding: 10px;"></center>
          <p>API Evangelist is built upon years of Kin Lane working with companies, organizations, institutions, and government agencies on API strategy. The API Evangelist approach to APIs is not driven by profit motivation, but a strong passion for understanding the technology, business, and politics of doing APIs at scale. API Evangelist generates revenue through selling knowledge, artifacts, partnerships, and services, and is not venture backed. API Evangelist is focused on the internal and external relationship that enterprises have with the markets they operate in, and you can trust that API Evangelist will always provide an expert and trusted view of what is happening in any business sector when it comes to APIs.</p>
  
          <ul>
            <li><a href="/about/api-evangelist">About API Evangelist</a></li>
            <li><a href="/about/surveying-assessment">About API Surveying and Assessment</a></li>
            <li><a href="/about/this-site">About This Site</a></li>
          </ul>

        </div>
      </div>
    </section>

  </div>
</div>



