---
layout: default
section: About API Evangelist
title: About API Surveying and Assessment
summary: More information about API surveying and assessment.
nav: About
sub: About API Surveying and Assessment
---

<div class="row gx-xl-9">

    <div class="col-12 col-xxl-4 order-xxl-1">

        <div class="position-sticky mb-8" style="top: 2rem">

            {% include services-api-evangelist.html %}
            <br>
            {% include services-partner.html %}

        </div>
    </div>  

    <div class="col-12 col-xxl-8 order-xxl-0">

    <section>
      <div class="row">
        <div class="col">
  
          <h1 class="fs-3 mb-5" id="rule-name-header">{{ page.title }}</h1>
          <p>API Evangelist is an API surveying and assessment firm specializing in evaluating the public and private API landscape. We provide services and knowledge bases to help enterprises survey and assess their own API operations. Our platform offers insights derived from analyzing the public API ecosystem, along with tools and resources to help you apply these insights both tactically and strategically across your organization.</p>
          <center><img src="/assets/img/building-blocks-flow.jpg" width="80%" style="padding: 10px;"></center>
          <p>At API Evangelist, we deliver API knowledge through information, artifacts, and videos tailored for both product and engineering teams. Our goal is to provide downloadable, customizable, and reusable knowledge bases that can be embedded centrally within your enterprise or distributed across domains, business units, and teams. While the information and services we provide often align with governance and discovery practices, they ultimately support every aspect of API operations—from planning and development to deployment and management.</p>            
  
          <ul>
            <li><a href="/about/api-evangelist">About API Evangelist</a></li>
            <li><a href="/about/kin-lane">About Kin Lane</a></li>
            <li><a href="/about/this-site">About This Site</a></li>
          </ul>

        </div>
      </div>
    </section>

  </div>
</div>



