---
layout: default
section: About API Evangelist
title: About This Site
summary: More information about how the website works
nav: About
sub: About This Site
---

<div class="row gx-xl-9">

    <div class="col-12 col-xxl-4 order-xxl-1">

        <div class="position-sticky mb-8" style="top: 2rem">

            {% include services-api-evangelist.html %}
            <br>
            {% include services-partner.html %}

        </div>
    </div>  

  <div class="col-12 col-xxl-8 order-xxl-0">

    <section>
      <div class="row">
        <div class="col">
  
          <h1 class="fs-3 mb-5" id="rule-name-header">{{ page.title }}</h1>
          <p>This website is a static, API-driven toolbox which the API Evangelist uses to make sense of the public API landscape, developing strategies, policies, and rules that can be used to discovery and govern APIs within the enterprise. This website is a federated mix of 30 separate GitHub repositories, APIs, and static websites which then surveys and assesses thousands of other APIs, distilling their APIs and operations down into individual repositories that can be forked and used anywhere.</p>
          <center><img src="/assets/img/api-evangelist-website.png" width="80%" style="padding: 10px;"></center>
          <p>Each of the subdomains within the API Evangelist website contains information focused on the surveying and assessment of HTTP APIs at scale, with the knowledge of how to do it sold as knowledgebases and services that any company, organization, institution, or government agency can purchase. This is version 4.0 of the API Evangelist platform, with the first version launched in 2010, and this one most notably being 100% out in the open, demonstrating how anyone can survey and assess the API landscape within any industry or enterprise. </p>
  
          <ul>
            <li><a href="/about/api-evangelist">About API Evangelist</a></li>
            <li><a href="/about/kin-lane">About Kin Lane</a></li>
            <li><a href="/about/surveying-assessment">About API Surveying and Assessment</a></li>
          </ul>

        </div>
      </div>
    </section>

  </div>
</div>



