---
layout: default
section: Timeline
title: Industry Timeline
summary: A timeline of industry regulation.
description: 
nav: Timeline
sub: Industry
---

<div class="row gx-xl-9">

  <div class="col-12 col-xxl-4 order-xxl-1">

    <div class="position-sticky mb-8" style="top: 2rem">

        {% include services-api-evangelist.html %}
        <br>
        {% include services-partner.html %}

    </div>
  </div> 

  <div class="row align-items-center mb-7">
    <div class="col-auto">
        <img src="https://kinlane-productions2.s3.us-east-1.amazonaws.com/api-evangelist-logos/api-evangelist-kin.png" width="65" style="margin-top: 8px; margin-left: 10px;">
    </div>
    <div class="col">
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-2">
                <li class="breadcrumb-item"><a class="text-body-secondary" href="#">{{ page.section }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ page.sub }}</li>
            </ol>
        </nav>
        <h1 class="fs-4 mb-0">{{ page.title }}</h1>
    </div>   
  </div>   

  <div class="col-12 col-xxl-8 order-xxl-0">

    <section>
      <div class="row">
        <div class="col">

          <p>I wanted to take my API industry timeline, or at least the last 20+ years, and look at it differently. I wanted to generalize the digital resources that these companies were providing. Rather than focusing solely on moments in time, I wanted to consider how the accumulation of resources has enabled new possibilities. I think I will go through and add a few other examples that may not have made the cut for my history, and reflect more on how we arrived at this point through the lens of digital transformation.</p>

          {% include timeline-industry.html %}
          
          <p>Understanding the regulation of earlier industries will inform the regulation of APIs and how we are using digital resources across applications and system integrations. While there will be some patterns of regulation that won't replay in the modern era, there are also some common patterns and anti-patterns that will shape how government views the tech sector, as well as how common people fear or embrace digital resources as part of their lives. I'll keep layering on my learnings from across other industries until I have a clearer picture of what  might unfold when it comes to the regulation of APIs.</p>
  
        </div>
      </div>
    </section>

  </div>
</div>



