---
layout: default
section: Contact
title: API Integration and Consumption
summary: Submit to be part of the API integration and consumption conversation.
nav: Contact
sub: Contact Form
---

<div class="row gx-xl-9">

    <div class="col-12 col-xxl-4 order-xxl-1">

        <div class="position-sticky mb-8" style="top: 2rem">

            {% include services-api-evangelist.html %}
            <br>
            {% include services-partner.html %}
            <br>
            <div class="card bg-body">

              <div class="card-body py-4">
                <ul class="list-group list-group-flush bg-body mb-0" id="api-evangelist-service-list">            
                    <li class="list-group-item d-flex align-items-center justify-content-between bg-body px-0">
                        <span class="text-body-secondary"><strong>Email</strong></span>
                    </li>
                    <li class="list-group-item d-flex align-items-center justify-content-between bg-body px-0">
                      <a href="mailto:info@apievangelist.com">info@apievangelist.com</a>                       
                  </li>
                </ul>      
            </div>              
              
            </div>            

        </div>
    </div>  

  <div class="col-12 col-xxl-8 order-xxl-0">

    <section>
      <div class="row">
        <div class="col">
  
            <h1 class="fs-3 mb-5" id="rule-name-header">{{ page.title }}</h1>
            <p>We are looking to learn from you about what you face as an API consumer, when it comes to discovery, integration, authentication, consumption, and automation of APIs. We'd also love to engage in an ongoing way if you are open to it, just let us know to which degree you have the time to work on the problem of API integration.</p>
            <form action="https://formspree.io/f/xqabpdga" method="POST" name="contact" style="padding: 5px;"> 
              
            <label for="role">What is your name?</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="" style="width: 100%;">
            
              
            <label for="email">What is your email address?</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" style="width: 100%;">
            
            <label for="company">What is the name of the company you work for?</label>
            <input type="text"  class="form-control"id="company" name="company" placeholder="" style="width: 100%;">
                        
                  
            <label for="role">What is your role working with APIs currently or historically?</label>
            <textarea id="other" class="form-control" name="role" rows="4" style="width: 100%;"></textarea>                                 

            <label for="other">Can you share how you discover APIs as part of your work?</label>
            <textarea id="other" class="form-control" name="discovery" rows="4" style="width: 100%;"></textarea>
                    
            
            <label for="other">Can you share how you go about integrating with APIs?</label>
            <textarea id="other" class="form-control" name="integration" rows="4" style="width: 100%;"></textarea>
                    
            <label for="other">What is involved with API consumption over time?</label>
            <textarea id="other" class="form-control" name="consumption" rows="4" style="width: 100%;"></textarea>            

            <label for="other">How do you manage authentication across many APIs?</label>
            <textarea id="other" class="form-control" name="authentication" rows="4" style="width: 100%;"></textarea>     

            <label for="other">What is your approach to automating with APIs?</label>
            <textarea id="other" class="form-control" name="automation" rows="4" style="width: 100%;"></textarea>     

            <label for="other">What capabilities do the APIs you use enable for business?</label>
            <textarea id="other" class="form-control" name="capabilities" rows="4" style="width: 100%;"></textarea>    

            <label for="other">Can we follow-up and ask you more questions in the future?</label>
            <select id="other" class="form-control" name="follow-up" style="width: 25%;">
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select> 
            
            <label for="other">Would you be interested in helping shape our development of open-source specifications and tooling?</label>
            <select id="other" class="form-control" name="shape" style="width: 25%;">
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>              
                            
            <label for="other">Other Details</label>
            <textarea id="other" class="form-control" name="other" rows="4" style="width: 100%;"></textarea>
            
            <a href="#" onclick="document.contact.submit();"><button type="button" class="btn btn-primary">Submit</button></a>
            </form>         
  
        </div>
      </div>
    </section>

  </div>
</div>



